body {
	background: #151515;
	margin: 0;
	
	display: flex;
	flex-direction: column;
	flex: auto;
	
	min-height: 100%;
}

header {
	width: 100%;
	min-width: 430px;
	max-width: 960px;
	margin: 25px auto;
	display: flex;
	flex-wrap: wrap;
}


.search-box, .search-box input {
	width: 100%;
	margin: 0 auto;
}

.search-box {
	padding: 0 15px;
	display: flex;
}

.search-box input {
	outline: none;
	height: 20px;
	border-radius: 10px 0 0 10px;
	padding: 20px;
	background: #323131;
	
	font-size: 11pt;
	
	color: #E0E0E0;
	border: 2px solid #5D5D5D;
	border-right: none;
	
	transition: all .2s;
}

.search-box button {
	height: 44px;
	border-radius: 0 10px 10px 0;
	border: 2px solid #5D5D5D;
	background: #4D4949;
	transition: all .2s;
	padding: 0 15px 0 15px;
	color: #E0E0E0;
	outline: none;
	text-transform: uppercase;
	font-weight: bold;
}

.search-box button:hover {
	cursor: pointer;
	background: #3F3C3C;
}

.search-box button:hover:active {
	background: #302E2E;
}
