body {
	background-color: #363636;
}

.team-block .mate-info {
	border: 2px solid grey;
	border-radius: 6px;
	padding: 5px;
	display: inline-block;
	
	margin: 10px;
	text-align: left;
}

.mate-info .name {
	font-weight: bold;
}

.mate-info .role {
	font-size: 10pt;
	padding-left: 10px;
	color: #D8D8D8;
}

.mate-info .contacts {
	margin-top: 5px;
	padding-left: 5px;
}

.team-block {
	padding: 5px;
}

.used {
	color: white;
}


#source-name {
	color: white;
	font-size: 16pt;
	padding-bottom: 15px;
}

.book-info {
	margin-top: 20px;
	border-top: 1px solid black;
	height: 300px;
}

span {
	color: white;
}

.main-block {
	margin-top: 20px;
}

.info-title {
	background-color: #2B2B2B;
}

.info-title > button {
	background-color: transparent;
	color: white;
	outline: none;
	
}

.info-title > button:hover:focus,
.info-title > button:hover,
.info-title > button:active {
	background-color: transparent;
	color: red;
}

.info-title > button:active:hover {
	color: red;
	transform: translateY(1px);
}

.info-title > button:focus {
	color: white;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline:none;
	box-shadow:none;
}

.main-block {
	margin-bottom: 0;
}

.info-block {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 40px;
	background-color: #2F2F2F;
	color: white;
}

.legend li {
	padding: 5px 0px;
	margin-left: 5px;
	margin-top: 5px;
}

.legend button {
	background-color: inherit;
	border: none;
	outline: none;
	padding: 0 10px;
}

footer {
	background-color: #2C2A2A;
}

footer > .container {
	padding: 35px 15px;
	height: 75px;
}

footer a,
footer a:visited {
	color: white;
}

.mate-info  { 
	color: white;
}

.mate-info .contact {
	color: #959595;
	padding-left: 15px;
}

.mate-info a:visited,
.mate-info a {
	color: #959595;
}
.mate-info a:visited:hover,
.mate-info a:hover {
	color: #C2C2C2;
}