body {
	background-color: #363636;
}

.book-info {
	margin-top: 20px;
	border-top: 1px solid black;
	height: 300px;
}

span {
	color: white;
}

.main-block {
	margin-top: 20px;
}

.info-title {
	background-color: #2B2B2B;
}

.info-title > button {
	background-color: transparent;
	color: white;
	outline: none;
	
}

.info-title > button:hover:focus,
.info-title > button:hover,
.info-title > button:active {
	background-color: transparent;
	color: red;
}

.info-title > button:active:hover {
	color: red;
	transform: translateY(1px);
}

.info-title > button:focus {
	color: white;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline:none;
	box-shadow:none;
}

.main-block {
	margin-bottom: 0;
}

.info-block {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 40px;
	background-color: #2F2F2F;
	color: white;
}

.legend li {
	padding: 5px 0px;
	margin-left: 5px;
	margin-top: 5px;
}

.legend button {
	background-color: inherit;
	border: none;
	outline: none;
	padding: 0 10px;
}

footer {
	background-color: #2C2A2A;
}

footer > .container {
	padding: 35px 15px;
	height: 75px;
}

footer a,
footer a:visited {
	color: white;
}

address  { 
	color: white;
}

address .contact-data {
	color: #959595;
	padding-left: 15px;
}

address a:visited,
address a {
	color: #959595;
}
address a:visited:hover,
address a:hover {
	color: #C2C2C2;
}